<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Atomic Lite - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <header>
   <div class="nav-container">
     <div class="logo"></div>
      <nav>
        <a href="/medee">Мэдээ мэдээлэл</a>
        <a href="/tailan">Тайлан</a>
        <a href="/setgegdel">Сэтгэгдэл</a>
        <a href="/bid">Бидний тухай</a>
      </nav>
    </div>
    <div class="hero">
      <h1>Эрүүл гэр бүл - Монголын ирээдүй</h1>
    </div>
  </header>

  <section class="stats">
    <div class="stat">
      <h2>3504741</h2>
      <p>Монголын нийт хүн амын тоо</p>
    </div>
    <div class="stat">
      <h2>983500</h2>
      <p>Монголын нийт өрхийн тоо</p>
    </div>
    <div class="stat">
      <h2>2074900</h2>
      <p>Монголын нийт хүүхдийн тоо</p>
    </div>
  </section>

  <section class="features">
    <h2>Нийтлэг асуултууд</h2>
    <div class="features-grid">
      <div class="feature">Хэрхэн зөв хооллож хэвших вэ?</div>
      <div class="feature">Монгол хүний эрүүл мэндэд юу хамгийн муугаар нөлөөлж байна вэ?</div>
      <div class="feature">Хүүхдийн эрүүл өсөлтийг хэрхэн дэмжих вэ?</div>
      <div class="feature">Утааны хор уршгаас хэрхэн сэргийлэх вэ?</div>
      <div class="feature">Эх хүүхдийн эрүүл мэндийг хэрхэн дэмжих вэ?</div>
      <div class="feature">Гэр бүлийн эрүүл харьцааг хэрхэн бүтээх вэ?</div>
    </div>
  </section>

  <section class="content">
    <div class="content-block">
      <div class="text">
        <h3>Хүүхэд бүр эсэн мэнд амьдарч, өсөж хөгжих эрхтэй</h3>
        <p>Хүүхэдтэй холбоотой ялгаатай байдлын тухайд 5 хүртэлх насны хүүхдийн эндэгдэл баруун бүсэд Улаанбаатар хоттой харьцуулахад бараг 4 дахин өндөр, нэн ядуу, чинээлэг өрхүүдийн харьцуулалтаар бараг 4 дахин өндөр байна.  Баруун бүсэд жирэмсэн эмэгтэйчүүдийн дөнгөж 31 хувь төрөхөөс өмнөх үеийн чанартай үйлчилгээг авч байгаа бол энэ үзүүлэлт Улаанбаатар хотод 84 хувьтай байна. Хүүхдийн эсэн мэнд амьдрахуй, өсөлт хөгжилд тулгарч буй сорилтууд нь үндсэндээ үйлчилгээ авах боломж жигд бус, нэн шаардлагатай эм, хангамж хязгаарлагдмал, хууль тогтоомж, бодлого, төсөв хуваарилалтад тэгш эрхийн асуудал харьцангуй сул, иргэд олон нийтийн дунд сөрөг зан үйл хандлага байсаар байгаатай холбоотой байна.</p>
      </div>
      <img src="{{ url_for('static', filename='eruul_huuhed.jpg') }}" alt="healthy">
    </div>
    <div class="content-block reverse">
      <div class="text">
        <h3>Хүүхэд бүрд, эрүүл агаар, цэвэр ус</h3>
        <p>Усны сайжруулсан эх үүсвэр (68 хувь), ариун цэврийн байгууламж (58 хувь)-ийн хэрэглээ өнөө хэр нь доогуур байгаа нь хүүхдүүдийн хувьд авч үзэх нэн чухал асуудлын нэгд ордог. Хөдөөгийн болон ядуу өрхүүдийн хувьд сайжруулсан ариун цэврийн байгууламж хот суурин болон чинээлэг өрхүүдтэй харьцуулахад нэлээд доогуур байна.  Энэ нөхцөл байдал тухайлбал аюулгүй ус, эрүүл ахуйн нөхцөл хангалтгүй байдал нь гэдэсний суулгалт, гепатит зэрэг халдварт өвчний гол эх үүсвэр болж байгаа нь санаа зовоосон асуудал болдог.  Гэдэсний суулгалт 5 хүртэлх насны хүүхдийн эндэгдлийн хамгийн гол шалтгаан болдог бол гепатит нь халдварт өвчний тархалтын 22 хувийг бүрдүүлдэг. Сайжруулсан усан хангамж, ариун цэвэр, эрүү ахуйн байгууламж ашиглах боломж ийм доогуур байгаа нь юуны өмнө нийгэм, ахуйн соёлын сөрөг практик, итгэлээс гадна чанартай дэд бүтэц хязгаарлагдмал байдагтай холбоотой.</p>
      </div>
      <img src="{{ url_for('static', filename='tsever_huuhed.jpg') }}" alt="healthy">
    </div>
  </section>

  <section class="offer">
    <footer>
  <div class="footer-content">
    <div class="columns">
      <div>
        <h4>Бидний тухай</h4>
        <p>Бид 2025 оноос хойш үйлчилгээ үзүүлж байгаа ба эрүүл мэндийн талаар мэдэллийг хүмүүст хүргэн ажиллаж байна.</p>
      </div>
      <div>
        <h4>Холбоо барих</h4>
        <p>Имэйл: temuulentemm@gmail.com</p>
        <p>Утас: +976 80348494</p>
      </div>
      <div>
        <h4>Сошиал холбоосууд</h4>
        <p><a href="#">facebook.com</a></p>
        <p><a href="#">Instagram.com</a></p>
      </div>
    </div>
    <div class="logo">Healthy Family</div>
  </div>
  <div class="copyright">
    © 2025 онд эрх хуулиар хамгаалагдсан.
  </div>
</footer>


